<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640435795918-co3c0u5v0e1s21vf389gogeb37n1qt2h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640435795918-co3c0u5v0e1s21vf389gogeb37n1qt2h</string>
	<key>API_KEY</key>
	<string>AIzaSyA7cRODxDPp_Dg31iNkRMm7R4sE303O6VU</string>
	<key>GCM_SENDER_ID</key>
	<string>640435795918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gemsc.CityManager</string>
	<key>PROJECT_ID</key>
	<string>citymanager-572ad</string>
	<key>STORAGE_BUCKET</key>
	<string>citymanager-572ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640435795918:ios:e90636c4fee5c315ac1d9f</string>
	<key>DATABASE_URL</key>
	<string>https://citymanager-572ad-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>